#app {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
#app2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#clock {
    border: 6px outset goldenrod;
	font-size: 3em;
}
